* {
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  width: 94%;
  margin: 0 auto 0 auto;
}

header {
  background-color: rgb(67, 167, 255);
  padding: 10px 10px;
}

.container {
  background-color: rgb(91, 91, 91);
  width: 100%;
  display: flex;
  padding: 5px 5px 5px 15px;
  font-size: 30px;
  align-items: center;
}

.container a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

/* Цвет при наведении на иконки */
.container a:hover {
  color: rgb(67, 167, 255);
}

.upcoming-note { 
  background-color: aliceblue;
  border-radius: 5px;
  margin-left: 20px;
  width: 7%;
  
  justify-content: space-around;
  align-items: center;
  text-align: center;
}